
<mat-grid-list cols="4" rowHeight="1:1.5" gutterSize="20px">
    <mat-grid-tile *ngFor="let products of productList">
        <mat-card>
            <img mat-card-image [src]="products.image" alt="Product Image">
            <mat-card-content>
                        <h3 mat-card-title>{{products.name}}</h3>
                        <p>{{products.description}}</p>
                        <p class="price">Price: Rs.{{products.price}} </p>
                     <div  class="cartButton">

                         <button  mat-raised-button color="primary"  (click)="add(products)" >+</button>
                   
                           <p class="productsCount">

                               {{products.productsCount || 0}}
                           </p> 
                         <button [disabled]="! (products.productsCount &&  products.productsCount>0)" mat-raised-button color="warn"  (click)="remove(products)">-</button>
                     </div>
                     
                        <!-- <button mat-raised-button color="primary" (click)="add(products)" >Add to Cart</button>
                        <button mat-raised-button color="warn" >Remove</button>  -->
                    </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

