<div class="flex-container">
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile *ngFor="let products of productList">
            <mat-card>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1548983965-416c1920352e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Denim Jeans" style="width:100%">
                <h1>{{products.name}}</h1>
                <p class="price">{{products.price | currency: 'INR'}}</p>
                <p>{{products.description}}</p>
                <p><button>Add to Cart</button></p>
            </div>
            </mat-card>

        </mat-grid-tile>
        <!-- <mat-grid-tile *ngFor="let products of productList">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{products.name}}</mat-card-title>
                    <mat-card-header>
                        {{products.price | currency: 'INR'}}
                    </mat-card-header>
                    <mat-card-subtitle>
                        <p>{{products.description}}</p>
                    </mat-card-subtitle>
                    <mat-card-actions>
                        <button (click) = "decrement(products)"> - </button>
                        <span>{{quantity}}</span>
                        <button (click) = "increment(products)"> + </button>
                        <button (click) = "addCart(products)"> <mat-icon>add_shopping_cart</mat-icon> Add to cart </button>
                    </mat-card-actions>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile> -->
    </mat-grid-list>
</div>
