<div class="checkout-container">


  <div *ngIf="this.cartService.cart.length>0">
    <h1>Checkout</h1>
    <table mat-table [dataSource]="this.cartService.cart" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="productsCount">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.productsCount}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="productsPrice">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{"Rs." + element.productsPrice}} </td>
          </ng-container>
        
          <!-- Symbol Column -->  
          <ng-container matColumnDef="productAmount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element"> {{"Rs." + (element.productsCount * element.productsPrice)}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="client-details">
            <mat-form-field>
              <input matInput placeholder="Delivery  Address" [(ngModel)]="address">
            </mat-form-field>
          </div>
        
          <div class="payment-methods">
            <h3>Payment Mode</h3>
            <mat-radio-group class="radioGroup" [(ngModel)]="selectedPaymentMethod">
              <mat-radio-button value="upi">UPI</mat-radio-button>
              <mat-radio-button value="card">Card</mat-radio-button>
              <mat-radio-button value="cod">Cash on Delivery (COD)</mat-radio-button>
            </mat-radio-group>
          </div>
        
          <!-- <div class="product-details">
            <h3>Product Details</h3>
            <mat-card *ngFor="let item of this.cartService.cart" class="product-card">
            
              <mat-card-content>
                <h4 mat-card-title>{{ item.productName }}</h4>
                
                <p>Price: ${{ item.productsPrice }}</p>
                <p>Quantity: {{ item.productsCount }}</p>
              </mat-card-content>
            </mat-card>
          </div> -->
        
          <div class="total-amount">
            <h3>Total Amount: {{this.cartService.total  }}</h3>
          </div>
        
          <div class="checkout-button">
            <button mat-raised-button color="primary" (click)="placeOrder()" >Place Order</button>
          </div>
    </div>
    <div *ngIf="this.cartService.cart.length==0">
        No Item Added
        </div>

</div>